@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

@import "tailwindcss";


.text-color{ @apply text-[#F2F2F2] }
.border-color {@apply border-[#222831] border-4}
.title-color{ @apply text-[#EAE4D5] }
.img-style{@apply rounded hover:scale-150 transition-all duration-500 ease-in-out hover:z-100  }
.logo-skill{@apply  hover:scale-140 transition-all duration-500 ease-in } 

h2 , p , h3{
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}


h1 {
  font-family: "Winky Rough", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500; 
}

.efecto1{
  opacity: 0;
  animation: Efecto-abajo 0.7s ease-in-out forwards;
  animation-delay: 0.3s;

}

.efecto2{
  opacity: 0;
  animation: Efecto-arriba 0.7s ease-in-out forwards;
  animation-delay: 0.6s;

}

.efecto3{
  opacity: 0;
  animation: Efecto-abajo 0.7s ease-in-out forwards;
  animation-delay: 0.9s;

}
.efecto4{
  opacity: 0;
  animation: Efecto-arriba 0.7s ease-in-out forwards ;
  animation-delay: 1.2s;

}



@keyframes espejo {
  0%{color: #121212 ; }
  50%{color:  #C0C0C0;}
  100%{color: #121212 ;}
}

@keyframes Efecto-abajo {
  from{ 
    opacity: 0;
    transform: translateY(-40px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes Efecto-arriba {
  from{ 
    opacity: 0;
    transform: translateY(40px);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}


@keyframes move-right {
  from{
    transform:  translateX(-30%);

  }
  to{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes retroceso-Right {
  from{
    transform:  translateX(0);
  }
  to{
    transform: translateX(-30%);
  }
}

@keyframes retroceso-Left {
  from{
    transform:  translateY(0);
    opacity: 1;
  }
  to{
    transform: translateY(40%);
    
    
  }
}

@keyframes atomos {
  0% {
    transform:  scale(1);
  }
  50% {
    transform:  scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}


@keyframes move-Left {
  from{
    transform:  translateY(40%);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

.aparecer{
  opacity: 0;
  animation: aparecer 2s ease-in-out 1s forwards ;
}

@keyframes aparecer {
  from { opacity: 0; transform: scale(0.90); }
  to { opacity: 1; transform: scale(1); }
}

  body {
    background: linear-gradient(160deg, #212121, #ffffff);
     margin: 0;
    padding: 0;
    
  }


@keyframes emailColor { 0%{color:#EAE4D5; } 50%{color: #f5493b; transform: scale(1.1);} 100%{color:#EAE4D5; }}
@keyframes linkColor { 0%{color:#EAE4D5; } 50%{color: #162556; transform: scale(1.1)} 100%{color:#EAE4D5; }}
@keyframes wsColor { 0%{color:#EAE4D5; } 50%{color: #08aa5e; transform: scale(1.1)} 100%{color:#EAE4D5; }}
@keyframes gitColor { 0%{color:#EAE4D5; } 50%{color: #000000; transform: scale(1.1)} 100%{color:#EAE4D5; }}

@keyframes aumentar {
  0%{transform: scale(1);}
  50%{transform: scale(1.5);}
}

